* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f7fa;
  font-family: Arial, sans-serif;
}




.container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  max-width: 700px; /* largura do quadro onde estão os campos do cadastro para ajustar em 2 ou 3 colunas, obs: 800px fica bom para 3 colunas*/
  width: 100%;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
    font-size: 26px;
}

.form-veiculo {
  display: grid;
  grid-template-columns: 1fr 1fr; /* quantidade de colunas no grid */
  gap: 1rem;
}

.form-veiculo input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-veiculo button {
  grid-column: span 2; /* tamanho do botão, troca para 3 para alterar para 3 colunas*/
  padding: 0.8rem;
  background: #2b7dbd;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.form-veiculo button:hover {
  background: #1f5c8a;
  align-items: center;
}

/* Responsivo - no celular fica 1 coluna */
@media (max-width: 600px) {
  .form-veiculo {
    grid-template-columns: 1fr;
  }
}






.veiculo-lista {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    width: 95%;
    max-width: 1400px; 
    overflow-x: auto; 
}

.veiculo-lista h2 {
    margin-bottom: 15px;
    color: #2c3e50;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 1200px;
}

thead {
    background-color: #2980b9;
    color: #fff;
}

thead th {
    padding: 8px 5px; 
    text-align: left;
    font-size: 12px; 
}

tbody td {
    padding: 8px 5px; 
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    word-break: break-word; 
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f7fd;
}

.btn-excluir, .btn-editar { 
    padding: 4px 8px; 
    border: none;
    border-radius: 5px;
    font-size: 11px;
    cursor: pointer;
    transition: background 0.3s;
    margin-right: 5px;
}

.btn-excluir {
    background-color: #e74c3c;
    color: #fff;
}

.btn-excluir:hover {
    background-color: #c0392b;
}

.btn-editar {
    background-color: #f39c12; 
    color: #fff;
}

.btn-editar:hover {
    background-color: #e67e22;
}

td button {
    margin: 0 2px;
}
