<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro de Veículos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro_veiculo.css') }}">
    <script src="{{ url_for('static', filename='js/cadastro_veiculo.js') }}"></script>



</head>
<body>
    
    <div class="main-veiculo">
        <h1>Cadastro de Veículos</h1>
        <form>
            <div class="textfield">
                <input type="text" id="placa" placeholder="Placa">
            </div>
            <div class="textfield">
                <input type="number" id="modelo_veiculo" placeholder="Modelo Veículo">
            </div>
            <div class="textfield">
                <input type="text" id="marca_veiculo" placeholder="Marca do Veículo">
            </div>
            <div class="textfield">
                <input type="number" id="renavan" placeholder="Renavan">
            </div>
            <div class="textfield">
                <input type="text" id="chassi" placeholder="chassi">
            </div>
            <div class="textfield">
                <input type="text" id="Cor" placeholder="Cor">
            </div>
            <div class="textfield">
                <input type="text" id="tipo" placeholder="Tipo de Veículo">
            </div>
            <div class="textfield">
                <input type="date" id="ano_modelo" placeholder="Ano Modelo">
            </div>
            <div class="textfield">
                <input type="date" id="ano_fabricacao" placeholder="Ano de Fabricação">
            </div>
            <button class="btn-cadastro" type="button" onclick="cadastroveiculo()">Cadastrar veículo</button>
        </form>
    </div>

    <div class="veiculo-lista">
        <h2>Lista de Veículos</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Placa</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Renavan</th>
                    <th>Chassi</th>
                    <th>Cor</th>
                    <th>Tipo</th>
                    <th>Ano Modelo</th>
                    <th>Ano Fabricação</th>
                </tr>
            </thead>
            <tbody id="tabela-veiculos"></tbody>
        </table>
    </div>

</body>
</html>
