<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mudança de senha</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='../static/js/mudanca_senha.js'></script>
</head>

<body>

    <div class="textfield">
        <input type="text" id="email" placeholder="Confirme seu email" required>
    </div>

    <div class="textfield">
        <input type="text" id="senha" placeholder="Digite a nova senha" required>
    </div>

    <div class="textfield">
        <input type="text" id="confirma_senha" placeholder="Confirme a senha" required>
    </div>

   
    <button type="button" id="btn-salvar-carga" onclick="handleMudancaSenha()">
        Confirmar
    </button>


</body>

</html>