<!-- upload.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Upload de Documentos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Removi a referência a main.css, pois não foi fornecido -->
    <script src='../static/js/upload_doc.js'></script>
</head>

<body>
    <!-- 1. O formulário agora chama a função JS no evento \'onsubmit\' -->
    <input type="file" id="arquivoInput">
    <button onclick="enviarArquivo()">Enviar</button>
    </form>
</body>

</html>